Codes\ToastBot\bin\Debug\Players.txt
Codes\ToastBot\bin\Debug\playerhave.txt
Codes\ToastBot\bin\Debug\price.txt
Codes\ToastBot\bin\Debug\time.txt
Cdoes\.vs\ToastBot\v15\Server\sqlite3\storage.ide-shm
Cdoes\.vs\ToastBot\v15\Server\sqlite3\storage.ide-wal
*.suo